<html>
<head>
    <title>COCUS</title>
</head>
<body class="grid background">

    {% block content %}
    {% endblock %}

<style lang="css">
.round-btn {
    padding: 1rem;
    border-radius: 20px;
    color: black;
    font-size: 25;
    background-color: #BBDEFB;
    justify-self: center;
    border: 0;
    box-shadow: 5px 5px 5px grey;
}

.round-btn:hover {
    background-color: #90CAF9;
}

.round-btn:active {
    background-color: #64B5F6;
}

.line-block {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px #BDBDBD;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 1px 1px 1px grey;
}

.line-block:hover {
    background-color: #EEEEEE;
    box-shadow: 3px 3px 3px grey;
}

.background {
    background-color: #F5F5F5;
    font-size: 16px;
    font-family: Arial;
}

.grid {
    display: grid;
}

.col-1 {
    grid-template-columns: 1fr;
}

.line-header {
    grid-template-columns: 1fr 9fr;
    grid-template-rows: auto;
    grid-template-areas: "c1 c2";
}

.item-1 {
    grid-area: c1;
}

.item-2 {
    grid-area: c2;
}

.pa-1 {
    padding: 15px;
}

.pa-2 {
    padding: 30px;
}

.mb-1 {
    margin-bottom: 15px;
}

.justify-center{
    justify-items: center;
}
</style>
</body>
</html>