{% extends 'exercise3/base.html' %}

{% block content %}
    <div class="grid">

        <div class="grid col-1 pa-1">
            <h1>Exercise 3</h1>
            <h3> most frequent char in database: {{most_frequent}} </h3>
        </div>

        <div class="random_line_list grid pa-2">
            {% for random_line in random_lines %}
                <div class="grid line-block pa-1">
                    <div class="grid line-header">
                        <div class="item-1 mb-1">
                            <b>id:</b> {{random_line.id}}
                        </div>
                        <div class="item-2 mb-1">
                            <b>most frequent char:</b> {{random_line.most_frequent_char}}
                        </div>
                    </div>
                    <div class="pa-1">
                        <b>line:</b> {{random_line.line}}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="grid justify-center">
            <button class="round-btn" onClick="loadMoreData()">load more</button>
        </div>

        <script>
        let currentPage = {{ page_obj.number }};
        let cacheData = [];

        async function loadMoreData(){
            list = document.querySelector('.random_line_list');

            if(cacheData.length == 0){
                currentPage++;
                try{
                    response = await fetch("?page="+currentPage);
                    if(response.status != 200){
                        currentPage--;
                        return;
                    }

                    html = await response.text();

                    div = document.createElement('div');
                    div.innerHTML = html;
                    newUl = div.querySelector('.random_line_list');
                    
                    for(let i=0; i<newUl.childNodes.length; i++){
                        line = newUl.childNodes[i];
                        if(line.nodeName == 'DIV')
                            cacheData.push(line);
                    }
                }
                catch(error){
                    console.log("Error:", error);
                    currentPage--;
                }
            }

            if(cacheData.length > 0){
                line = cacheData[0];
                cacheData = cacheData.slice(1);
                list.append(line);
                window.scrollTo(0,document.body.scrollHeight);
            }
        }
        </script>
    </div>
{% endblock %}